<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <video controls class="embed-responsive-item">
          <source src="" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>