{% extends 'base.html' %}

{% block content %}
<div class="py-0">
  <div class="container">
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="contents col">
        <span class="caption">Facial Expression</span>
        <h2 style="color:rgb(20, 20, 20)">表情辨識</h2>
        <p class="mb-3">觀察幼童在校表情</p>
      </div>
    </div>
    {% include '_step.html' %}
  </div>
</div>
{% include '_site-section.html' %}
{% endblock %}
